.loader
  animation spin 2.3s linear infinite
  border-radius 50%
  border-top 15px solid $primary-color
  border-right @border-top
  border-bottom 15px solid transparent
  border-left @border-top
  height 100px
  width @height
